@import '../../../styles/neon-font.scss';

.logo {
    display: block;
    font-size: 2.8rem;
    color: $text-color-dark;
    letter-spacing: 0.25em;

    @include neon-text($text-color-dark, $red-shadow);

    &:first-letter {
        @include neon-text($text-color-dark, $blue-shadow);
    }
}