$text-color: rgb(255, 255, 255);
$text-color-dark: rgb(235, 235, 235);
$green-shadow: rgb(0, 255, 140);
$red-shadow: rgb(255, 50, 50);
$yellow-shadow: rgb(255, 140, 0);
$blue-shadow: rgb(100, 200, 255);

// active light
@mixin neon-text-light($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 7px $shadow-color-2,
        0 0 10px $shadow-color-2,
        0 0 21px $shadow-color-2,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2,
        0 0 92px $shadow-color-2,
        0 0 102px $shadow-color-2,
        0 0 151px $shadow-color-2;
}

// hover light
@mixin neon-text-hover($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 7px $shadow-color-1,
        0 0 10px $shadow-color-1,
        0 0 21px $shadow-color-2,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2,
        0 0 92px $shadow-color-2,
        0 0 102px $shadow-color-2,
        0 0 151px $shadow-color-2;
}

// default light
@mixin neon-text-dark($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        // 0 0 10px $shadow-color-1,
        0 0 21px $shadow-color-1,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2;
}


.letterButton {
    display: block;
    margin: 0.5em 0 0.5em 0;
    padding: 0.25em;
    font-size: 1.35em; 
    color: $text-color;
    @include neon-text-dark($text-color, $red-shadow);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

    &:hover {
        
        @include neon-text-hover($text-color, $red-shadow)
    }
}

.letterButtonActive {
    @include neon-text-light($text-color, $blue-shadow);
    &:hover {
        @include neon-text-hover($blue-shadow, $text-color)
    }
}