@import '../../styles/neon-font.scss';

.quantityWordsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    p { 
        padding: 0.15em 0;
        font-size: 1.6rem;
        color: $text-color-dark;
        @include neon-text-dark($red-shadow, $red-shadow);
        
        &:first-of-type {
            font-size: 0.8rem;
            @include neon-text($blue-shadow, $blue-shadow);
        }
    }
}