.modal {    
    display: none;

    height: 100vh;
    width: 100vw;
    
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.4);

    // transition: 0.3s;
    // opacity: 0;
    // transform: scale(0);

    .modalContent {
        display: flex;
        justify-content: center;
    }
    
}

.modalActive {
    display: flex;
    // opacity: 1;

    // transform: scale(1);
}