@import '../../../styles/neon-font.scss';

.wordBox {
    padding: 0.8em;
    display: block;
    font-size: 1.1rem;
    // letter-spacing: 0.07em;    

    .englishWord {
        color: $text-color;
        @include neon-text-dark($text-color, $green-shadow);
    }
    
    .russianWord {
        color: $text-color;
        @include neon-text-dark($text-color, $yellow-shadow);
    }    
    .separatorWord {
        margin: 0 1em 0 1em;
        color: $text-color;
        @include neon-text-dark($text-color, $red-shadow);
    }
    
    &::first-letter {
        text-transform: uppercase;
        @include neon-text-dark($blue-shadow, $blue-shadow);
    }

    .deleteBtn {
        padding: 0 3em;
        font-size: 1em;
        background: none;
        opacity: 0;
        // color: $text-color;
        // @include neon-text-dark($red-shadow, $red-shadow);
        // &:hover {
        //     // transform: scale(1.3);
        //     @include neon-text-light($red-shadow, $red-shadow);
        // }
    }

    &:hover {
        .englishWord {
            @include neon-text-light($text-color, $green-shadow); 
        }
        .russianWord {
            @include neon-text-light($text-color, $yellow-shadow);
        }
        .separatorWord {
            @include neon-text-light($text-color, $red-shadow);
        }
        &::first-letter {
            @include neon-text-light($blue-shadow, $blue-shadow);
        }
        .deleteBtn {            
            opacity: 1;
            transition: 0.4s;
            color: $text-color;
            @include neon-text-dark($red-shadow, $red-shadow);
            &:hover {
                transform: scale(1.3);
                @include neon-text-light($red-shadow, $red-shadow);
            }
        }
    }
}