$text-color: rgb(255, 255, 255);
$text-color-dark: rgb(235, 235, 235);
$green-shadow: rgb(0, 255, 140);
$red-shadow: rgb(255, 50, 50);
$yellow-shadow: rgb(255, 140, 0);
$blue-shadow: rgb(100, 200, 255);

// active light
@mixin neon-text-light($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 7px $shadow-color-2,
        0 0 10px $shadow-color-2,
        0 0 21px $shadow-color-2,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2,
        0 0 92px $shadow-color-2,
        0 0 102px $shadow-color-2,
        0 0 151px $shadow-color-2;
}

// hover light
@mixin neon-text-hover($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 7px $shadow-color-1,
        0 0 10px $shadow-color-1,
        0 0 21px $shadow-color-2,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2,
        0 0 92px $shadow-color-2,
        0 0 102px $shadow-color-2,
        0 0 151px $shadow-color-2;
}

// default light
@mixin neon-text-dark($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 10px $shadow-color-1,
        0 0 21px $shadow-color-1,
        0 0 42px $shadow-color-2,
        0 0 82px $shadow-color-2;
}

// input text light
@mixin neon-text-input($shadow-color-1, $shadow-color-2) {
    text-shadow: 
        0 0 10px $shadow-color-1;
}


.addWordPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    .logo {
        text-align: center;
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        display: block;
        margin-top: 2em;
        width: 50vw;
        padding: 0.8em 1em;

        background-color: rgb(15, 15, 20);
        border: 1px solid white;
        border-radius: 0.8em;

        font-size: 1.1rem;
        color: $text-color;
        letter-spacing: inherit;
        @include neon-text-input($blue-shadow, $blue-shadow);

        &::content {
            padding: 1em;
        }

        &::placeholder {
            color: $text-color-dark;
        }
    }

    button {
        display: block;
        margin-top: 2em;
        padding: 0.8em 1em;

        background: none;
        
        font-size: 1.1em;
        color: $text-color-dark;


        @include neon-text-dark($text-color, $green-shadow);
        // transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
        // transition: 0.5s;
        
        &:hover {        
            @include neon-text-hover($text-color, $green-shadow);
        }
    }
}

