@import '../../styles/neon-font.scss';

.homePage {
    margin-top: 1rem;
    margin-left: 1rem;

    font-size: 1.1rem;
    color: $text-color;
    letter-spacing: inherit;
    line-height: 1.3;

    @include neon-text($blue-shadow, $blue-shadow);

    h2 {
        font-size: 1.3em;

        &:first-letter {
            @include neon-text($red-shadow, $red-shadow);
        }
    }

    p {
        margin-top: 0.7em;
    }
}

.numberBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10em;
    p {
        font-size: 4rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            @include neon-text-light($red-shadow, $red-shadow);
            transform: scale(1.7);
        }
    }
}

.redText {
    color: $text-color;
    letter-spacing: inherit;
    @include neon-text($text-color, $red-shadow);
}